<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BikeSite</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/leaflet.css">
    <link rel="stylesheet" href="~/css/map.css">
    <!-- <link rel="stylesheet" href="~/css/bootstrap.css">  -->
    <script src="~/src/leaflet-src.js"></script>
    <script src="~/src/jquery-3.6.0.min.js"></script>
    <script src="~/src/leaflet.ajax.min.js"></script>
    <script src="~/src/leaflet-providers.js"></script>
    <script src="~/js/drogi2.js"></script>
    <script src="~/js/wyzyna.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="https://unpkg.com/esri-leaflet/dist/esri-leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet-vector@3/dist/esri-leaflet-vector.js"></script>
    <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script>
    <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.js"></script>

</head>
<body>
    <header>
        <nav class="navigation">
            <div class="logo">
                <div class="logo__img"><img class="logo__picture" src="/img/bike-logo.png"></div>
                <div class="logo__text"></div>
            </div>
            <div class="menu">
                <ul class="list">
                    <li class="list__el"><a class="list__link" asp-area="" asp-controller="Home" asp-action="Index">Mapa</a></li>
                    <li class="list__el"><a class="list__link" asp-area="" asp-controller="Home" asp-action="Dashboard">Z trasy</a></li>
                    <li class="list__el"><a class="list__link" asp-area="" asp-controller="Home" asp-action="News">Ciekawostki</a></li>
                    <li class="list__el"><a class="list__link" asp-area="" asp-controller="Home" asp-action="AboutUs">O nas</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="list__el"><a class="list__link" asp-area="" asp-controller="Home" asp-action="UserAccount">Moje konto</a></li>
                    }
                </ul>
            </div>

            @if (!User.Identity.IsAuthenticated)
            {
                <div class="login">
                    <button class="button">@Html.ActionLink("Zaloguj", "Login", "User", new object { })</button>
                    <button class="button">@Html.ActionLink("Zarejestruj", "Register", "User", new object { })</button>
                </div>
            }
            else
            {
                <div class="login">
                    <a asp-area="" asp-controller="User" asp-action="Logout">Wyloguj</a>
                </div>
            }
        </nav>
    </header>
    @RenderBody()
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BikeSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
