<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BikeSite</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Dosis&family=Oooh+Baby&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/src/leaflet.css">

    <script src="~/src/leaflet-src.js"></script>
    <script src="~/src/jquery-3.6.0.min.js"></script>
    <script src="~/src/leaflet-providers.js"></script>
    <script src="~/src/leaflet.ajax.min.js"></script>
    <script src="~/src/leaflet-mapkey/L.Icon.Mapkey.js"></script>
    <link rel="stylesheet" href="~/src/leaflet-mapkey/MapkeyIcons.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link rel="stylesheet" href="~/src/geoman/leaflet-geoman.css">
    <script src="~/src/geoman/leaflet-geoman.min.js"></script>

    <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script>
    <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.js"></script>

    <script src="https://unpkg.com/esri-leaflet/dist/esri-leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet-vector@3/dist/esri-leaflet-vector.js"></script>

    <script src="~/js/layers/drogi2.js"></script>
    <script src="~/js/layers/wyzyna.js"></script>
    <script src="~/js/layers/cafe.js"></script>
    <script src="~/js/layers/castle.js"></script>
    <script src="~/js/layers/archeo.js"></script>
    <script src="~/js/layers/attraction.js"></script>
    <script src="~/js/layers/memorial.js"></script>
    <script src="~/js/layers/museum.js"></script>
    <script src="~/js/layers/restaurant.js"></script>
    <script src="~/js/layers/shop.js"></script>
    <script src="~/js/layers/toilet.js"></script>
    <script src="~/js/layers/tourist_info.js"></script>
    <script src="~/js/layers/tower.js"></script>
    <script src="~/js/layers/maska.js"></script>

    <!-- Turf.JS -->
    <script src='https://unpkg.com/@@turf/turf@6/turf.min.js'></script>

</head>
<body>
        <nav class="navigation">
            <div class="logo">
                <div class="logo__img">
                    <img class="logo__picture" src="/img/bike-logo4.png">
                </div>
                <div class="logo__text"></div>
            </div>
            <div class="menu">
                <ul class="list">
                    <li class="list__el"><a class="list__link" asp-area="" asp-controller="Home" asp-action="Index">Mapa</a></li>
                    <li class="list__el"><a class="list__link" asp-area="" asp-controller="Home" asp-action="AboutUs">Jak szukać?</a></li>
                    <li class="list__el"><a class="list__link" asp-area="" asp-controller="Home" asp-action="Jura">O wyżynie</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="list__el"><a class="list__link" asp-area="" asp-controller="Home" asp-action="UserAccount">Moje konto</a></li>
                    }
                </ul>
            </div>

            @if (!User.Identity.IsAuthenticated)
            {
        <div class="login">
            <!--
        <button class="button">@Html.ActionLink("Zaloguj", "Login", "User", new object { })</button>
        <button class="button">@Html.ActionLink("Zarejestruj", "Register", "User", new object { })</button>

        -->
            <div class="form__google" onclick="google_func('/Home/UserAccount')">
                <p class="google__text">Zaloguj z</p>
                <img class="form__icon" src="img/google.png">
            </div>
        </div>
            }
            else
            {
                <div class="login">
                    <a asp-area="" asp-controller="User" asp-action="Logout">Wyloguj</a>
                </div>
            }
        </nav>

    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
