@model BikeSite.Data.AppUser

@{
    ViewData["Title"] = "View";
}

<div class="content content--user">
    <div class="content__log">
        <h2 class="jura__header jura__header--first">Witaj, @Html.DisplayFor(model => model.Firstname) @Html.DisplayFor(model => model.Lastname)</h2>
        <div class="account__container">
            <hr />
            <h3>Twoje ulubione trasy: </h3>

            <div class="map--fav"id="favourite_map"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/fav_map.js"></script>



