@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="content">
    <div class="content__log content__log--register">
        <h2 class="header">Rejestracja</h2>
        <form class="form form--register">
            <label>Nazwa użytkownika</label>
            <input name="username" type="text" required autofocus>
            <label>Adres email</label>
            <input name="email" type="text" required>
            <label>Hasło</label>
            <input name="password" type="password" required>
            <label>Powtórz hasło</label>
            <input name="password_check" type="password" required>
            <button type="submit" class="button button--register">Zarejestruj</button>
        </form>
    </div>
</div>
